<div class="d-flex header bg-light" style="height: 100px">
  <!--        <img class="h-100 p-4" src="https://www.furama.com/images/LOGOFurama_4C_Normal.png" alt="">-->
  <!--        <img class="ms-5 ps-5"-->
  <!--             src="https://media.istockphoto.com/id/1171488670/vi/vec-to/merry-christmas-vector-b%C3%A0n-ch%E1%BA%A3i-th%C6%B0-ph%C3%A1p-th%E1%BA%BB-bi%E1%BB%83u-ng%E1%BB%AF.jpg?s=1024x1024&w=is&k=20&c=7xfkK8ruZgRvjwmSXD3HHIFOF7MiVbONhSZGMc3J9PM="-->
  <!--             alt="">-->
  <img class="h-100 p-3 bg-light" src="https://www.furama.com/images/LOGOFurama_4C_Normal.png" alt="">
</div>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid mx-5">
    <a class="navbar-brand font-weight-bold">
      <i class="fa-solid fa-house-chimney h5 mx-1"></i> Trang chủ
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--                    <li class="nav-item dropdown ms-3" sec:authorize="hasRole('ADMIN')">-->
        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">Nhân viên</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/employee">Danh sách nhân viên</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/employee/create">Thêm nhân viên mới</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">Khách hàng</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" >Danh sách khách hàng</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" >Thêm khách hàng mới</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">Dịch vụ</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Danh sách dịch vụ</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item">Thêm dịch vụ mới</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown ms-3">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">Hợp đồng</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Danh sách hợp đồng</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" data-bs-toggle="modal"
                   data-bs-target="#addContract">Thêm hợp đồng mới</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
