<div class="py-3 px-5">
  <div class="px-5">
    <h2 class="text-center fw-bold text-dark mt-3">DANH SÁCH DỊCH VỤ</h2>

    <nav class="navbar navbar-expand-lg py-0 my-0">
      <div class="container-fluid">
        <a href="/facility/create">
          <button class="btn btn-primary btn-outline-secondary">
            <span class="fa-solid fa-house-medical text-light h5 my-auto me-1"></span>
            <span class="text-light"> Thêm mới dịch vụ</span>
          </button>
        </a>

        <div class="d-flex my-2" role="search">
          <input class="form-control me-2" type="text" placeholder="Nhập tên dịch vụ.." aria-label="Search"
                 name="facilityNameSearch">
          <button class="btn btn-light btn-outline-primary">
            <i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-sm-4 mb-4">
        <div class="card facilityCSS">
          <img height="250px"
               src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722773/722773/160407105.jpg?auto=format,compress&fit=crop&crop=entropy&w=1536&q=75"
               class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Điện thoại</h5>
            <div class="row mb-2">
              <div class="col-sm-6">
                <span class="card-text">Loại dịch vụ: Thuê phòng</span><br>
                <span class="card-text">Diện tích: 70 m<sup>2</sup></span><br>
                <span class="card-text">Chí phí thuê: 1.000.000 VNĐ</span>
              </div>
              <div class="col-sm-6">
                <span class="card-text">Số người tối đa: 5</span><br>
                <span class="card-text">Kiểu thuê: Thuê theo ngày</span>
              </div>
            </div>
            <a href="/facility/edit/" class="me-2">
              <button class="btn btn-warning btn-outline-secondary text-dark">Chỉnh sửa</button>
            </a>
            <button class="btn btn-danger btn-outline-secondary text-light"
                    data-bs-toggle="modal" data-bs-target="#deleteFacility">Xóa
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
