<h1>Xoá sản phẩm</h1>
<a routerLink="">Quay lại danh sách sản phẩm</a>
<form [formGroup]="productForm" (ngSubmit)="deleteProduct(id)">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name" readonly></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price" readonly></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description" readonly></td>
    </tr>
    <tr>
      <td>Danh mục:</td>
      <td><input type="text" formControlName="category" readonly></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Xoá</button></td>
    </tr>
  </table>
</form>
