<h1>Danh sách sản phẩm</h1>
<a routerLink="/product/create">Tạo mới sản phẩm</a> | <a routerLink="/category">Danh sách danh mục sản phẩm</a>
<table border="1" cellpadding="10">
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Mô tả</th>
    <th>Danh mục</th>
    <th colspan="2" style="text-align: center">Trạng thái</th>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td><a routerLink="/product/edit/{{product.id}}">Sửa</a></td>
    <td><a routerLink="/product/delete/{{product.id}}">Xóa</a></td>
  </tr>
</table>
