<header class="sticky-top">
  <div class="container-fluid bg-gray-500 d-flex headerFootCSS" style="height: 100px">
    <img class="bg-white"
         src="https://img.freepik.com/free-photo/2023-vietnam_187299-32973.jpg?w=996&t=st=1672026517~exp=1672027117~hmac=9bf3d24e111e9f07deb8452ea1289f61b85c2afb0f3f3382316e1525361ce64d"
         alt="">

    <div class="container-fluid my-4 me-4">
      <span class="badge text-bg-success mt-3"><span class="h6">Hỏa Vân Tà Thần - Tây Thành Dũng</span></span>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid mx-5">
      <a class="navbar-brand font-weight-bold" href="">
        <i class="fa-solid fa-house-chimney h5 mx-1"></i> Home
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Article</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Article list</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="">Add article</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Author</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Author list</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="">Add author</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Product</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Product list</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="">Add product</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Support</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="">Contact Info</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" data-bs-toggle="modal"
                     data-bs-target="#addContract">Other</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
