<div class="container">
  <h1>DANH SÁCH SẢN PHẨM</h1>
  <a routerLink="/product/create">Tạo mới sản phẩm</a>
  <table class="table">
    <thead class="table-success">
    <tr>
      <th>No.</th>
      <th>Tên</th>
      <th>Giá tiền</th>
      <th>Thông tin thêm</th>
      <th>Cập nhật</th>
      <th>Xóa</th>
    </tr>
    </thead>
    <tbody class="table-warning">
    <tr *ngFor="let product of products; index as i">
      <td>{{i + 1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
      <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>
